.form {
  display: flex;
  flex-wrap: wrap;
}

.label {
  padding-left: 24px;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic-red;
}

.legend {
  padding: 0px 31px;
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $basic-red;
}

.prize {
  width: 100%;
  margin-top: 54px;
  margin-bottom: 55px;
  p {
    padding: 0;
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;

    &:last-child {
      display: none;
    }
  }

  @media (min-width: 660px) {
    margin-bottom: 80px;

    p {
      font-size: 18px;
      width: 490px;
      margin: 0 auto;

      &:last-child {
        display: block;
      }
    }
  }
}

.full-name {
  order: 1;
  padding: 0;
  padding-top: 8px;
  margin: 0;
  margin-bottom: 44px;
  width: 100%;

  list-style: none;

  @media (min-width: 1200px) {
    width: 433px;
    margin-right: 43px;
  }
}

.full-name__item {
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0px;
  }

  @media (min-width: 660px) {
    display: flex;
    align-items: center;
    margin-bottom: 56px;

    input {
      width: 100%;
    }

    label {
      padding-left: 0;
      margin: 0;
      margin-right: 20px;
    }
  }
}

.information {
  order: 3;
  padding: 0;
  margin-bottom: 44px;
  width: 100%;

  border: none;

  .legend {
    display: none;
  }

  @media (min-width: 660px) {
    padding: 46px 60px 36px;
    margin-bottom: 55px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;

    .legend {
      display: block;
    }
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 74px;
  }
}

.information__item {
  margin-bottom: 19px;

  .legend {
    padding-left: 205px;
    padding-right: 20px;
  }

  @media (min-width: 660px) {
    display: flex;
    flex-direction: column-reverse;

    label {
      padding-top: 12px;
      margin-bottom: 0px;
    }
  }

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.achievements {
  order: 2;
  padding: 0;
  margin-bottom: 42px;
  width: 100%;

  border: none;

  @media (min-width: 660px) {
    order: 4;
    padding: 50px 60px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }
}

.achievements__legend {
  margin-bottom: 44px;

  @media (min-width: 660px) {
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    padding: 0 31px;
  }
}

.achievements__list {
  padding: 0;
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  color: $basic-dark;
  list-style: none;

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 50px;
  }
}

.filter-option {
  padding-left: 59px;
  margin-bottom: 58px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.achievements-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -59px;
  top: -2px;

  width: 35px;
  height: 35px;

  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
}

.achievements-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 7px;
  left: -52px;

  width: 22px;
  height: 16px;

  background-image: url("/src/img/form/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.platform {
  order: 4;
  padding: 0;
  margin-bottom: 42px;
  width: 100%;

  border: none;

  @media (min-width: 660px) {
    order: 2;
    padding: 50px 54px 54px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  @media (min-width: 1200px) {
    width: 460px;
  }
}

.platform__list {
  padding: 0;
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  color: $basic-dark;
  list-style: none;
}

.platform__legend {
  margin-bottom: 40px;

  @media (min-width: 660px) {
    margin: 0;
  }

  @media (min-width: 1200px) {
    padding: 0 15px;
  }
}

.platform__item {
  padding-left: 70px;
  margin-bottom: 38px;

  &:last-child {
    margin-bottom: 54px;
  }

  @media (min-width: 660px) {
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.platform__item label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.platform-input-radio + label::before {
  content: "";

  position: absolute;
  left: -70px;
  top: -3px;

  width: 37px;
  height: 37px;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.platform-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: -59px;

  width: 15px;
  height: 15px;

  background-color: #d22856;
  border-radius: 50%;
}

.comment {
  order: 5;
  padding: 0;
  margin-bottom: 52px;
  width: 100%;

  border: none;

  @media (min-width: 660px) {
    padding: 47px 57px 53px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-bottom: 70px;
  }

  @media (min-width: 1200px) {
    padding: 20px 62px 45px;
  }
}

.comment__legend {
  margin-bottom: 22px;
}

.comment__input {
  width: 100%;
  height: 197px;

  @media (min-width: 1200px) {
    height: 124px;
  }
}

.form__button {
  display: flex;
  align-items: center;
  order: 6;
  padding: 13px 45px;

  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $basic-white;
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;

  &:hover {
    background: #1c9b5e;
    border: 2px solid #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.required {
  order: 7;
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-dark;

  .required__span {
    color: $basic-red;
  }

  .required__span-none {
    display: none;
  }

  @media (min-width: 660px) {
    margin-left: auto;
  }

  @media (min-width: 1200px) {
    .required__span-none {
      display: inline;
    }
  }
}

.form__required {
  margin-top: 36px;

  @media (min-width: 660px) {
    margin-top: 15px;
  }
}
