.main-footer__wrapper {
  display: grid;
  min-height: 284px;
  align-items: center;
  justify-content: center;

  @media (min-width: 660px) {
    min-height: 127px;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    min-height: 197px;
  }
}

.main-footer__logo {
  color: $basic-dark;

  &:hover {
    color: $basic-red;
  }

  &:active {
    color: $basic-dark;
    opacity: 0.3;
  }

  @media (min-width: 1200px) {
    svg {
      width: 147px;
    }
  }
}

.main-footer__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
  width: 48px;
  height: 48px;
  border: 3px solid rgba($basic-dark, 0.1);
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-color: $basic-dark;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 1200px) {
    margin-right: 11px;
  }
}

.main-footer__copyright {
  display: flex;
  align-items: center;
  color: inherit;
  line-height: 18px;
  text-decoration: none;

  svg {
    margin-left: 15px;
    color: $basic-red;
  }

  &:hover svg {
    color: $basic-dark;
  }

  &:active svg {
    opacity: 0.3;
  }

  @media (min-width: 1200px) {
    font-size: 18px;

    svg {
      margin-left: 13px;
    }
  }
}
